.banner{
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.post {
  max-width: 720px;
  margin: 5rem auto;

  h1 {
    font-size: 3.625rem;
    font-weight: 700;
    color: var(--white);
  }
}

.infos {
  display: flex;
  margin-top: 1.5rem;
}

.postContent{
  margin-top: 4rem;
  font-size: 1.125rem;
  text-align: justify;
  
  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 3rem;
  }
  
  p, li{
    line-height: 1.575rem;
    margin-top: 1.5rem;
  }
}

.loading {
  max-width: 720px;
  margin: 5rem auto;
  color: var(--pink-600);
  font-weight: 600;
  font-size: 1.125rem;
}
